#container{
  width: 900px;
  height:600px;
  border: 1px solid black;
  padding: 25px;
  margin: 50px auto;
  border-radius: 5px;

}
#gameWindow{
  width: 800px;
  height: 500px;
  border: 1px solid;
  margin: 15px auto;
}
input{
  width:700px;
  height: 25px;
  padding: 25px;
}