#container{
  width: 1000px;
  height:600px;
  border: 1px solid black;
  padding: 25px;
  margin: 40px auto;
  border-radius: 5px;
  background-color: black;

}
#gameWindow{
  width: 950px;
  height: 500px;
  border: 1px solid;
  margin: 10px auto;
  background-color: white;
}
input{
  width:800px;
  height: 15px;
  padding: 25px;
  font-size: 20px;
  margin-left: 45px;
}
button{
  height: 25px;
  margin-left: 15px;
}
#typeThis{
  width: 900px;
  height: 50px;
  border: 1px solid;
  margin: 5px auto;
}