#container{
  width: 1000px;
  height:600px;
  border: 1px solid black;
  padding: 25px;
  margin: 40px auto;
  border-radius: 5px;
  background-color: black;

}
#gameWindow{
  width: 950px;
  height: 500px;
  border: 1px solid;
  margin: 10px auto;
  background-image: url("resources/zombiegrave.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

#timeBox{
  height: 35px;
  width: 100px;
  background-color: transparent;
  margin-left: 400px;
  margin-top: 15px;
  font-size: 40px;
  text-align: center;
  color: gold;
}
input{
  width:800px;
  height: 15px;
  padding: 25px;
  font-size: 20px;
  margin-left: 45px;
}
#gameStart{
  color: red;
  
  margin-right: 400px;
  
  float: right;
  font-weight: bold;
  text-align: center;
  background-color: silver;
  font-size: 25px;
}
#gameStart:hover{
  cursor: pointer;
  background-color: purple;
}
#resetGame{
  color: red;
  margin-right: 450px;
  margin-top: 50px;
  float: right;
  font-weight: bold;
  text-align: center;
  background-color: silver;
  font-size: 25px;
}
#resetGame:hover{
  cursor: pointer;
  background-color: purple;
}

#typeThis{
  width: 800px;
  height: 100px;
  margin: 35px auto;
  margin-top: 100px;
  text-align: center;
  color: gold;
  font-size: 30px;
  font-family: monospace;
}
#score {
  float: right;
  height:35px;
  width: 50px;
  color: gold;
  font-size: 40px;
  margin-bottom: 250px;
  margin-right: 45px; 
  
}
#characterModel{
  width:100px;
  height: 100px;
  margin-top: 120px;
  margin-left: 10px;
  background-image: url("resources/runninglady.gif");
  background-size: cover;
  transition: all 350ms;
}